/* <!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 
  Author: Nguyen Tung Bao Thach (s3929174), Van Duc Tri (s3978233), Nguyen Duong Truong Thinh (s3914412)
  /* Acknowledgement: Acknowledge the resources that you use show in the report. --> */ 
  
  <h1>Products</h1>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Categories</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <% products.forEach(function(product) { %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.description %></td>
          <td><%= product.onSale %></td>
          <td><%= product.categories %></td>
          <td><a href="/product/<%= product.id %>/update">Click here</a> </td>
          <td><a href="/product/<%= product.id %>/delete">Click here</a></td>
        </tr>
      <% }); %>